*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.negro{
    background-color: black;
}
.rojo{
    background-color: red;
}
.blanco{
    background-color: white;
}
.violeta{
    background-color: violet;
}

.container{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, cyan,rgb(0, 81, 255));
    display: grid;
    place-items: center;
    & .tarjeta{
        height: 550px;
        width: 50%;
        background-color: white;
        border-radius: 20px;
        padding: 8px;
        box-shadow: 60px 50px 20px -5px black;
        & .encabezado{
            height: 133px;
            width: 100%;
            background-color: #ccd6d0;
            border-radius: 12px 12px 0px 0px;
            padding: 10px;
        }
        & .producto{
            height: 133px;
            width: 100%;
            background-color: #97d1ae;
            padding: 10px;
            & ul.sel_colores{
                justify-content: center;
                gap: 10px;
                display: flex;
                & li{
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    list-style: none;
                }
                & li:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
        & .desc_producto{
            height: 133px;
            width: 100%;
            background-color: #6be29b;
            padding: 10px;
        }
        & .botonera{
            height: 133px;
            width: 100%;
            background-color: #97d1ae;
            border-radius: 0px 0px 12px 12px;
            padding: 10px;
        }
    }
}                           